
@media screen and (min-width: 1024px) {
  .wrapper-content {
    width: min(112rem, 100%);
    display: grid;
    margin-inline: auto;
    padding-inline: 2.4rem;
  }
  
  #testimonials h2 {
    width: 49.7rem;
    margin-inline: auto;
  }

  #testimonials .cards {
    flex-direction: row;
  }

  #testimonials .brands {
    justify-content: space-between;
    gap: initial;
  
    overflow-y: initial;
    overflow-x: initial;
    white-space: initial;
    
    padding-inline: 0;
  }

  .banner-cta {
    flex-direction: row;
    padding: 10rem;
    justify-content: space-between;
    height: 30.4rem;
    width: 112.1rem
  }

  .banner-cta h2 {
    font-size: 4rem;
    text-align: left;
  }
}
