
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(145% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home img {
  height: 34.253rem;
  width: auto;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home h1 {
  font-weight: 700;
  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home .button {  
  margin-bottom: 6rem;
  margin-right: auto;
  margin-left: auto;  
}

.stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;
  
  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-light);
  border-radius: 0.6rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 6rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stats .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}
